<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="jumbotro">
            <h1>Sobre mim</h1>
            <p>Oi sou Jakeliny Gracielly instrutora de programação na Rocketseat!</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>