body{
    background-color: gray;
}

header#titulo{
    color: white;
    text-align: center;
    font: normal 22pt verdana;
    padding-bottom: 20px;
}
section#sec{
    background-color: rgb(224, 113, 113);
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 22px;
    padding: 20px;
}
select#flista{
    width: 150px;
    height: 200px;
}
footer#logo{
    text-align: center;
    font: italic 10pt verdana;
    color: white;
}